<html>
  <head>
    {% include 'includes/headers.html' %}
  </head>
  <body>
    {% include 'includes/nav.html' %}

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        {% include 'includes/messages.html' %}

        <div class="row">

          <div class="col-md-3">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">Recent posts</h3>
              </div>
              <div class="panel-body">
                <ul class="list-group">
                  {% for message in last_updates %}
                    <a href="{% url 'topic' message.topic_id %}" type="button" class="list-group-item">
                      <strong>{{ message.topic.name }}</strong>: {{ message.text|truncatechars:30 }}
                    </a>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <div class="row categories">
              {% for category in categories %}
                <div class="col-md-3">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">{{ category.name }}</h3>
                    </div>
                    <div class="panel-body">
                      <ul class="list-group">
                        {% for subcategory in category.subcategory_set.all %}
                          <a href="{% url 'forum' subcategory.id %}" type="button" class="list-group-item">{{ subcategory.name }}</a>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>

    {% include 'includes/scripts.html' %}
  </body>
</html>
