<html>
  <head>
    {% include 'includes/headers.html' %}
  </head>
  <body>
    {% include 'includes/nav.html' %}

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        {% include 'includes/messages.html' %}

        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Create new topic</h3>
              </div>
              <div class="panel-body">
                <form class="form-inline" method="post" action="{% url 'new_topic' subcategory.id %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" name="name" placeholder="Topic title" required="true">
                  </div>
                  <div class="form-group">
                    <textarea type="text" class="form-control" name="description" rows="1" placeholder="Topic description" required="true"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Create topic</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          {% for topic in subcategory.topic_set.all %}
            <div class="col-md-3">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a href="{% url 'topic' topic.id %}"><h3 class="panel-title">{{ topic.name }}</h3></a>
                </div>
                <div class="panel-body">
                  {{ topic.description }}
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>

    {% include 'includes/scripts.html' %}
  </body>
</html>
